* {
  background-color: burlywood;
}
.navbar {
  padding: 10px;
  display: inline;

}
.navbar-item {
  padding: 15px;
  border-radius: 80px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  display: inline-block;
  margin: 40px;
  justify-content: center; 
  font-weight: 110px;
  text-decoration: none;
  
}
.navbar-item:hover {
  background-color: white;
}